<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" type="text/css" href={{url_for('static',filename='forms.css')}}>

</head>
  <body>
    <div class="card">
      <h1>Register!</h1>
      <form action='register' method = "post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br>
        <button type="submit">Register</button>
        <a href={{ url_for('login') }}>Login!</a><br><br>      
      </form><br>

      {% if incorrect %}
        <h3>User already exists, try another username!</h3>
      {% endif %}

    </div>
  </body>
</html>
